<h2>{{ beer.name }}</h2>
<img src=" {{ beer.image_url }}" alt="">

<h3>{{ beer.tagline }}</h3>
<p>{{ beer.description }}</p>

<h3>Food Paring: </h3>
<p>{{ beer.food_pairing }}</p>
<h3>Brewer's Tips:</h3>
<p>{{ beer.brewers_tips }}</p>