{{#each beer}}

<h2>{{ name }}</h2>
<img src=" {{ image_url }}" alt="">

<h3>{{ tagline }}</h3>
<p>{{ description }}</p>

<h3>Food Paring: </h3>
<p>{{ food_pairing }}</p>
<h3>Brewer's Tips:</h3>
<p>{{ brewers_tips }}</p>

{{/each}}